.profile__image {
    min-height: 120px;
    max-width: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
    transition: opacity 0.3s ease;
}

.profile__image:hover {
    opacity: 0.2;
}