.popup__submit-button {
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    border: 0;
    background-color: #000;
    color: #FFF;
    align-self: center;
    text-align: center;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
    .popup__submit-button {
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__submit-button:hover {
    opacity: 0.8;
}