.profile__info {
    max-height: 73px;
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    align-self: center;
}

@media (max-width: 1023px) {
    .profile__info {
        max-height: 54px;
        max-width: 282px;
        row-gap: 14px;
        margin-bottom: 36px;
        position: relative;
    }
}