.profile__description {
    margin: 0;
    min-width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1023px) {
    .profile__description {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}